@model List<RentalContract>
@{


}

<div class="container">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Lista de contratos</h1>
        <a class="btn btn-success mx-5" asp-controller="RentalContract" asp-action="Create">Criar novo contrato</a>
    </div>


    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success" id="tempDataMessage" role="alert">
            @TempData["Message"]
        </div>
    }


    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            Nenhum contrato encontrado!
        </div>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Veiculo</th>
                    <th scope="col">Data de inicio</th>
                    <th scope="col">Data de fim</th>
                    <th scope="col">Quilometragem inicial</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contract in Model)
                {
                    <tr>
                        <td scope="row">@contract.Client.Name | @contract.Client.DrivingLicense</td>
                        <td scope="row">@contract.Vehicle.Brand @contract.Vehicle.Model | @contract.Vehicle.LicensePlate </td>
                        <td scope="row">@contract.StartDate.ToShortDateString()</td>
                        <td scope="row">@contract.EndDate.ToShortDateString()</td>
                        <td scope="row">@contract.InitialKilometers</td>

                        <td>
                            <a asp-controller="RentalContract" asp-action="Edit" asp-route-id="@contract.RentalContractId" class="btn btn-warning mx-2">Editar</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@contract.RentalContractId">
                                Apagar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }



</div>



<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Tens a certeza que queres apagar?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Esta ação é irreversível. Tens a certeza?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteForm" method="post" asp-controller="RentalContract" asp-action="Delete">
                    <input type="hidden" id="deleteId" name="id" />
                    <button type="submit" class="btn btn-danger">Apagar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>"
}